<div class="container">
    <h3>All TravelRequest</h3>
<table border="1" id="employees">

    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="3">Action</th>
    </tr>
    <!-- <tr *ngFor="let employee of allEmployees">
        <td>{{employee.employeeId}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.salary}}</td>
        <td ><input type="button" value="Details" (click)="getdetails(employee.employeeId)"></td>
        <td><input type="button" value="Update" (click)="updatedetails(employee.employeeId)"></td>
        <td><input type="button" value="Delete" (click)="deleteEmployee(employee.employeeId)"></td>
    </tr> -->
</table>
</div>
